@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body {
  background-color: #011627;
  color: #fdfffc;
  font-family: "Sora";
  margin: 0;
  z-index: 0;
  overflow-x: hidden;
}

.scroll-sign {
  position: fixed;
  font-size: 0.8rem;
  width: 10rem;
  margin-top: -22rem;
  margin-left: 92vw;
  animation: 3s ease-in-out infinite vertical-jump;
  text-shadow: 0.1rem 0.1rem #00e6f6;
  color: #fdfffc63;
}

h1 {
  position: relative;
  z-index: 1;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

#hamburger a {
  position: fixed;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  text-align: center;
  color: #25e4d1;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  width: 2rem;
  line-height: 0.5rem;
  padding: 1rem;
  z-index: 30;
}

#hamburger a:hover , #hamburger a:focus{
  transform: scale(1.08);
}

.nav-links {
  visibility: hidden;
  right: 50%;
  pointer-events: none;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out 5ms;
}

.nav-links-open {
  right: 0;
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
  transition: opacity 1s ease-in-out 5ms;
}

.menu-wrapper li {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #fdfffc;
  width: 15rem;
  height: fit-content;
  padding: 2rem;
  list-style: none;
  outline: #25e4d1;
  outline-style: solid;
  outline-width: 0.02rem;
  box-shadow: 1px 2px 10px -1px #fdfffc;
}

.menu-wrapper li:hover , .menu-wrapper li:focus{
  background-color: #25e4d1;
  cursor: pointer;
  color: #011627;
}

.menu-wrapper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
}

.menu-wrapper a {
  color: inherit;
  text-decoration: inherit;
}

.menu-intro {
  height: 35vh;
  padding-bottom: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #fdfffc;
  color: #011627;
  font-size: 4rem;
}

.menu-wrapper ul {
  margin-top: -3rem;
}

body > #root > div {
  height: 100vh;
}

.landing {
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.landing-open {
  z-index: 5;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.welcome {
  padding: 1rem;
  height: auto;
}

.hi-wrapper {
  margin-top: 3rem;
  margin-left: 4rem;
  letter-spacing: 0.2rem;
  width: 98vw;
  display: flex;
}

.welcome h1 {
  font-size: 5rem;
  margin-top: 1rem;
  width: 80vw;
  display: flex;
  text-shadow: 0.1rem 0.1rem #25e4d14f;
}

.welcome h2 {
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-left: 5rem;
  width: 40vw;
  display: flex;
  text-shadow: 0.1rem 0.1rem #25e4d14f;
}

.button-contact {
  margin-top: -5rem;
  margin-left: 80vw;
  width: 18rem;
  height: 4rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  background: linear-gradient(45deg, transparent 5%, #00e6f6 5%);
  box-shadow: 1rem -0.2rem 0.2rem #f1132d;
  outline: transparent;
  transition: all ease-in-out 0.5s;
  text-shadow: 0.1rem 0.1rem #25e4d14f;
  transform: rotate3d(2, 0.5, 0.5, -0.03turn);
}

.button-contact:hover , .button-contact:focus{
  transform: scale(1.03) rotate3d(1, -0.5, -0.5, -0.03turn);
  box-shadow: 1rem -0.2rem 0.2rem #00e6f6;
  background: linear-gradient(45deg, transparent 5%, #f1132d 5%);
  color: #fdfffc;
}

.button-contact:active {
  transform: scale(0.97) rotate3d(1, -0.5, -0.5, -0.03turn);
  transition: all ease-in-out 0.1s;
}

.button-contact2 {
  margin-top: -2rem;
  margin-left: 60vw;
  width: 18rem;
  height: 6rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  background: linear-gradient(45deg, #00e6f6c5 0%, #fdfffc9d 100%);
  box-shadow: 0 0 0.5rem #00e6f6;
  outline: transparent;
  border-style: outset;
  transition: all 0.5s ease-in-out;
  text-shadow: 0.1rem 0.1rem #25e4d14f;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.button-contact2:hover , .button-contact2:focus{
  transform: scale(1.03);
  color: #fdfffc;
  animation: morph 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.button-contact2:active {
  transform: scale(0.97);
  transition: all ease-in-out 0.1s;
  color: black;
  transition: all 0.5s ease-in-out;
}

.contact-info-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.contact-info-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011627c5;
  z-index: 25;
  opacity: 1;
  transition: ease-in-out 0.5s all;
}

.contact-info {
  opacity: 1;
  display: flex;
  position: fixed;
  align-items: center;
  transition: ease-in-out 2s all;
}

.contact-info li {
  text-align: center;
  width: 20rem;
  margin: 3rem 0 0 0;
  padding: 2rem;
  list-style: none;
  background: linear-gradient(45deg, #00e6f6 0%, #fdfffca4 100%);
  outline: #25e4d1;
  outline-style: solid;
  outline-width: 0.02rem;
  box-shadow: 1px 2px 10px -1px #fdfffc;
}

.contact-info a {
  color: #011627;
  text-decoration: none;
  transition: ease-in-out 0.3s 5ms all;
}

.contact-info a:hover , .contact-info a:focus{
  color: #fdfffc;
}

.close-contact {
  cursor: pointer;
  align-self: flex-start;
  background-color: #01162700;
  color: #fdfffc;
  transition: ease-in-out 10ms all;
}

.close-contact:hover , .close-contact:focus{
  color: #fdfffc9c;
}

.close-contact:active {
  color: #fdfffc;
  transform: scale(0.98);
}

.skillset {
  margin-top: 2rem;
  margin-left: 5rem;
  display: flex;
}

.red-text {
  color: #f1132d;
}

.light-blue-text {
  color: #00e6f6;
}

.work {
  height: auto;
  left: -100rem;
  margin-top: -2rem;
  position: absolute;
  opacity: 0;
}

.work-intro h1 {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  padding: 1rem;
  border-bottom: #fdfffc solid 0.05rem;
}

.work-intro h2 {
  font-size: 1.5rem;
  font-style: oblique;
  color: #00e6f62c;
}

.work-intro h1 p {
  font-size: 0.75rem;
}

.work-grid {
  display: grid;
  grid-template:
    "a c" minmax(300px, 1fr)
    "b c" minmax(300px, 1fr);
}

.work-description {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 6rem;
  padding: 2rem;
  outline-width: 0.01rem;
  outline-style: solid;
  transition: ease-in-out 0.5s;
  line-height: 1.5rem;
}

.work-description ul {
  line-height: 2rem;
  padding-left: 1rem;
}

.blue-box-shadow {
  box-shadow: -0.5rem 0.5rem #25e4d1;
  outline-color: #25e4d1;
  transition: ease-in-out all 0.5s;
  grid-area: a;
}

.blue-box-shadow:hover , .blue-box-shadow:focus{
  box-shadow: -0.25rem 0.25rem #25e4d1;
  outline-color: #25e4d1;
}

.red-box-shadow {
  box-shadow: -0.5rem 0.5rem #f1132d;
  outline-color: #f1132d;
  grid-area: b;
}

.red-box-shadow:hover , .red-box-shadow:focus{
  box-shadow: -0.25rem 0.25rem #f1132d;
  outline-color: #f1132d;
  animation: none;
}

.white-box-shadow {
  box-shadow: 0.5rem 0.5rem #fdfffc;
  outline-color: #fdfffc;
  grid-area: c;
}

.white-box-shadow:hover , .white-box-shadow:focus{
  box-shadow: 0.25rem 0.25rem #fdfffc;
  outline-color: #fdfffc;
}

.work-description ul {
  margin-left: 1rem;
  margin-top: 1rem;
}

.socials-box {
  align-self: center;
  margin-left: 5rem;
  width: 20vw;
  padding: 2rem;
  outline-width: 0.1rem;
  outline-style: solid;
  transition: ease-in-out 0.5s;
  line-height: 2rem;
}

.socials-box h3 {
  padding-bottom: 1rem;
}

.socials-box a {
  margin: 1rem 0 1.5rem 0;
  max-width: 100%;
  height: fit-content;
  padding: 1rem 0;
  text-decoration: none;
  color: inherit;
  transition: ease-in-out all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px #fdfffc;
  outline: solid 0.5px #fdfffc69;
}

.socials-box a i {
  width: min-content;
  transform: scale(2);
}

.socials-box a:hover , .socials-box a:focus{
  text-decoration: none;
  cursor: pointer;
  color: #00e6f6;
  box-shadow: 2px 2px #fdfffc;
  transform: translate(0.1rem, 0.1rem) scale(0.99);
}

.socials-box a:active {
  box-shadow: 1px 1px #fdfffc;
}

.projects-section {
  position: absolute;
  right: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.projects-section-open {
  width: 100vw;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.welcome .background-text {
  margin-top: -5rem;
  margin-bottom: -10rem;
}

.background-text {
  font-size: 12rem;
  display: flex;
  justify-content: flex-end;
  z-index: -2;
  transform: translateY(6rem);
  color: #25e4d15d;
  pointer-events: none;
}

.projects-grid {
  border-top: solid #fdfffc80 0.05rem;
  border-bottom: solid #fdfffc80 0.05rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  margin: 0 1rem 5rem 1rem;
  z-index: 2;
}

.project-box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 16vmax;
  width: 100%;
  align-items: center;
  border: #25e4d1 solid 0.01rem;
  z-index: 2;
  transition: all ease-in-out 1s 10ms;
}

.project-box img {
  width: 100%;
  height: stretch;
}

.project-box a {
  width: 100%;
  height: 100%;
}

.project-flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: transform 0.8s;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-box:hover .project-flip-inner , .project-box a:focus .project-flip-inner {
  transform: rotateY(180deg);
  box-shadow: #fdfffc 0rem 0rem 0.8rem;
  -webkit-transform: rotateY(180deg);
}

.project-box a:focus img {
  display: none;
}

.project-front,
.project-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.project-front {
  background-color: #011627;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.project-back {
  font-size: 1rem;
  background-color: #011627;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  color: white;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.comment-p {
  font-size: 0.7rem;
}

.skills {
  position: absolute;
  right: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.skills-open {
  height: fit-content;
  transition: opacity 0.5s ease-in-out;
}

.skillset-wrap {
  margin-left: 5rem;
}

.flex-skills {
  margin-top: 3rem;
  padding-top: 2rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 50vw;
}

.skill-show {
  padding: 0.5rem 0rem 2rem 0rem;
  border-top: solid 0.2rem #25e4d1;
  width: 80vw;
}

.html {
  width: 85%;
}

.css {
  width: 90%;
}

.js {
  width: 70%;
}

.react {
  width: 70%;
}

/*Adjusting media query to size out font & margins on smaller devices */

@media screen and (max-width: 800px) {
  * {
    overflow-x: visible;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .button-contact {
    margin-top: 4rem;
    margin-left: 3rem;
    width: 20rem;
    height: 4rem;
    font-size: 0.8rem;
  }
  .button-contact2 {
    margin-top: 4rem;
    margin-left: 3rem;
    width: 20rem;
    height: 4rem;
    font-size: 0.8rem;
  }
  .hi-wrapper {
    margin-left: 0;
  }
  .welcome h1 {
    margin-top: 6rem;
    font-size: 2rem;
    margin-left: 1.5rem;
    width: 90vw;
  }
  .welcome h2 {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 6rem;
    width: 90vw;
  }
  .skillset {
    margin-left: 9rem;
    margin-top: 4rem;
  }
  .work-grid {
    grid-template: "a" "b" "c";
  }
  .work-intro h1 {
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  .work-description {
    width: 80vw;
    margin-left: 3rem;
    font-size: 80%;
  }
  .work-description li {
    font-size: inherit;
  }
  .nav-links-open {
    margin: 0;
    width: 100vw;
    transform: scale(0.9);
  }
  .menu-intro {
    color: #fdfffc;
    background-color: #011627;
    font-size: 2rem;
    margin: 0;
    width: 100vw;
  }
  .menu-wrapper ul {
    width: 100vw;
    display: grid;
    justify-items: end;
  }
  .menu-wrapper li {
    width: 88vw;
  }
  .scroll-sign {
    margin-top: -8rem;
    margin-left: -4rem;
    color: #fdfffc9d;
    text-shadow: none;
  }
  .socials-box {
    margin-top: 1rem;
    width: 19rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    font-size: 80%;
  }
  .background-text {
    font-size: 8rem;
  }
  .projects-grid {
    border: none;
    width: 90vw;
    margin: 0 5vw;
    display: grid;
    grid-template-columns: 1fr;
  }
  .project-box {
    height: 57vw;
    width: 92vw;
    border: none;
  }
  .project-box img {
    height: auto;
    width: 98%;
    justify-self: start;
  }
  .project-box:hover .project-flip-inner, .project-box:focus .project-flip-inner {
    box-shadow: none;
  }
  .project-box:hover , .project-box:focus{
    transform: none;
    cursor: pointer;
    box-shadow: none;
  }
  .project-box:active .project-flip-inner {
    transform: none;
    box-shadow: none;
  }
  .flex-skills {
    margin: 0;
    width: 80vw;
  }
  .contact-info-wrapper {
    position: fixed;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .contact-info ul {
    transform: scale(0.9);
    /* margin: 1rem; */
  }
  .contact-info li {
    width: 85vw;
  }
  .contact-info .close-contact {
    margin: 0 0 0 -20%;
  }
}

@media screen and (max-width: 375px) {
  * {
    overflow-x: visible;
    width: 100%;
    height: auto;
    margin: 0 0 0 1.2%;
  }
  .nav-links-open {
    display: flex;
    margin: 0 10vw;
  }
  .menu-wrapper {
    margin: 0;
    transform: scale(1.2);
    width: 100vw;
  }
  .menu-wrapper ul {
    width: 80%;
  }
  .menu-wrapper li {
    width: 75%;
  }
  .projects-grid {
    margin-left: 8vw;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  .contact-info-wrapper :nth-child(n) {
    transform: scale(0.8);
  }
  .menu-wrapper {
    transform: scale(0.8);
  }
  .contact-info .close-contact {
    transform: scale(1.5);
    align-self: center;
  }
  .contact-info li {
    margin: 0;
  }
}

/* ANIMATIONS */

@keyframes vertical-jump {
  0% {
    transform: translateY(20vh) rotate(90deg);
  }
  50% {
    transform: translateY(-5vh) rotate(90deg);
  }
  100% {
    transform: translateY(20vh) rotate(90deg);
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
