@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: baseline;
    /* background: transparent; */
    }

/* .white-brk {
  width: 100vw;
  height: 0.02rem;
  background-color: #FDFFFC;
} */

body {
  background-color: #011627;
  color: #FDFFFC;
  font-family: 'Sora';
  margin: 0;
  z-index: 0;
  overflow-x: hidden;
}

.scroll-sign {
  position: fixed;
  font-size: 0.8rem;
  width: 10rem;
  margin-top: -22rem;
  margin-left: 92vw;
  animation: 3s ease-in-out infinite vertical-jump;
  text-shadow: 0.1rem 0.1rem #00E6F6;
  color: #fdfffc63;
}

@keyframes vertical-jump {
  0% {
    transform: translateY(20vh) rotate(90deg);
  }
  50% {
    transform: translateY(-5vh) rotate(90deg);
  }
  100% {
    transform: translateY(20vh) rotate(90deg);
  }
}

h1 {
  position: relative;
  z-index: 1;
}

.wrapper { 
  display: flex;
  flex-wrap: wrap;
}

#hamburger a{
  position: fixed;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  text-align: center;
  color: #25E4D1;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  width: 2rem;
  line-height: 0.5rem;
  padding: 1rem;
  z-index: 30;
}

#hamburger a:hover {
  transform: scale(1.08);
}

.nav-links {
  visibility: hidden;
  right: 50;
  pointer-events: none;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out 5ms;
}

.nav-links-open {
  right: 0;
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
  transition: opacity 1s ease-in-out 5ms;
}

.menu-wrapper li {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #FDFFFC;
  width: 15rem;
  height: fit-content;
  padding: 2rem;
  list-style: none;
  outline: #25E4D1;
  outline-style: solid;
  outline-width: 0.02rem;
  box-shadow: 1px 2px 10px -1px #FDFFFC;
}

.menu-wrapper li:hover {
  background-color: #25E4D1;
  cursor: pointer;
  color:#011627;
}

.menu-wrapper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
}

.menu-wrapper a {
  color: inherit;
  text-decoration: inherit;
}

.menu-intro {
  height: 35vh;
  padding-bottom: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #FDFFFC;
  color: #011627;
  font-size: 4rem;
}

.menu-wrapper ul {
  margin-top: -3rem;
}

body > #root > div {
  height: 100vh;
}

.landing {
  /* clip-path: circle(0px at 90% -10%);
  -webkit-clip-path: circle(0px at 90% -10%); */
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.landing-open {
  z-index: 5;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.welcome {
  padding: 1rem;
  height: auto;
}

.shape {
  animation: morph 5s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  width: 28rem;
  height: 17rem;
  margin-top: -14rem;
  margin-left: 2rem;
  background: linear-gradient(45deg, #00e6f6c5 0%, #fdfffc9d 100%);
}

@keyframes morph {
  0% {
	  border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
	} 
	
	50% {
		border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
	}
  
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
	} 
}

.shape:hover {
  cursor: pointer;
}

.hi-wrapper {
  margin-top: 3rem;
  margin-left: 4rem;
  letter-spacing: 0.2rem;
  width: 98vw;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.welcome h1 {
  font-size: 5rem;
  margin-top: 1rem;
  width: 80vw;
  display: flex;
  text-shadow: 0.1rem 0.1rem #25e4d14f;
}

.welcome h2 {
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-left: 5rem;
  width: 40vw;
  display: flex;
  text-shadow: 0.1rem 0.1rem #25e4d14f;
}

.button-contact {
  margin-top: -5rem;
  margin-left: 80vw;
  width: 18rem;
  height: 4rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  background: linear-gradient(45deg, transparent 5%, #00E6F6 5%);
  box-shadow: 1rem -0.2rem 0.2rem #F1132D;
  outline: transparent;
  transition: all ease-in-out 0.5s;
  text-shadow: 0.1rem 0.1rem #25e4d14f;
  transform: rotate3d(2, 0.5, 0.5, -0.03turn)
}

.button-contact:hover {
  transform: scale(1.03) rotate3d(1, -0.5, -0.5, -0.03turn);
  box-shadow: 1rem -0.2rem 0.2rem #00E6F6;
  background: linear-gradient(45deg, transparent 5%, #F1132D 5%);
  color: #FDFFFC;
  
}

.button-contact:active {
  transform: scale(0.97) rotate3d(1, -0.5, -0.5, -0.03turn);
  transition: all ease-in-out 0.1s;
}

.button-contact2 {
  margin-top: -2rem;
  margin-left: 60vw;
  width: 18rem;
  height: 6rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  background: linear-gradient(45deg, #00e6f6c5 0%, #fdfffc9d 100%);
  box-shadow: 0 0 0.5rem #00E6F6;
  outline: transparent;
  border-style: outset;
  transition: all 0.5s ease-in-out;
  text-shadow: 0.1rem 0.1rem #25e4d14f;
  border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
}

.button-contact2:hover {
  transform: scale(1.03);
  color: #FDFFFC;
  animation: morph 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.button-contact2:active {
  transform: scale(0.97);
  transition: all ease-in-out 0.1s;
  color: black;
  transition: all 0.5s ease-in-out;
}

.contact-info-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.contact-info-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011627c5;
  z-index: 25;
  opacity: 1;
  transition: ease-in-out 0.5s all;
}

.contact-info {
  opacity: 1;
  display: flex;
  position: fixed;
  align-items: center;
  transition: ease-in-out 2s all;
}

.contact-info li {
  height: fit-content;
  text-align: center;
  width: 20rem;
  margin: 3rem 0 0 0;
  padding: 2rem;
  list-style: none;
  background: linear-gradient(45deg, #00e6f6 0%, #fdfffca4 100%);
  outline: #25E4D1;
  outline-style: solid;
  outline-width: 0.02rem;
  box-shadow: 1px 2px 10px -1px #FDFFFC;
}

.contact-info a {
  color: #011627;
  text-decoration: none;
  transition: ease-in-out 0.3s 5ms all;
}

.contact-info a:hover {
  color: #FDFFFC;
}

.close-contact {
  cursor: pointer;
  align-self: flex-start;
  background-color: #01162700;
  color: #FDFFFC;
  transition: ease-in-out 10ms all;
}

.close-contact:hover {
  color: #fdfffc9c;
}

.close-contact:active {
  color: #FDFFFC;
  transform: scale(0.98);
}

.skillset {
  margin-top: 2rem;
  margin-left: 5rem;
  display: flex;
  width: fit-content;
}

.red-text {
  color: #F1132D
}

.light-blue-text {
  color: #00E6F6;
}

.work {
  height: auto;
  left: -100rem;
  margin-top: -2rem;
  position: absolute;
  opacity: 0;
}

#work {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  transition: opacity 0.5s ease-in-out;
}

.work-intro h1 {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  padding: 1rem;
  border-bottom: #FDFFFC solid 0.05rem;
}

.work-intro h2 {
  font-size: 1.5rem;
  font-style: oblique;
  color: #00e6f62c;
}

.work-intro h1 p {
  font-size: 0.75rem;
}

.work-description {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  height: fit-content;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 6rem;
  padding: 2rem;
  outline-width: 0.01rem;
  outline-style: solid;
  transition: ease-in-out 0.5s;
  line-height: 1.5rem;
}

.work-description ul {
  line-height: 2rem;
}

.blue-box-shadow {
  box-shadow: -0.5rem 0.5rem #25E4D1;
  outline-color: #25E4D1;
  transition: ease-in-out all 0.5s;
}

.blue-box-shadow:hover {
  box-shadow: -0.25rem 0.25rem #25E4D1;
  outline-color: #25E4D1;
}

.red-box-shadow {
  box-shadow: -0.5rem 0.5rem #F1132D;
  outline-color: #F1132D;
}

.red-box-shadow:hover {
  box-shadow: -0.25rem 0.25rem #F1132D;
  outline-color: #F1132D;
  animation: none;
}

.white-box-shadow {
  box-shadow: 0.5rem 0.5rem #FDFFFC;
  outline-color: #FDFFFC;
}

.white-box-shadow:hover {
  box-shadow: 0.25rem 0.25rem #FDFFFC;
  outline-color: #FDFFFC;
}

.work-description ul {
  margin-left: 1rem;
  margin-top: 1rem;
}

.socials-box {
  width: 15vw;
  margin-left: 4rem;
  height: fit-content;
  margin-top: 30rem;
  padding: 2rem;
  outline-width: 0.1rem;
  outline-style: solid;
  transition: ease-in-out 0.5s;
  line-height: 2rem;
}

.socials-box a {
  text-decoration: 0.1rem underline;
  color: inherit;
  transition: ease-in-out all 0.3s;
}

.socials-box a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #00E6F6;
  transform: translateX(1rem);
}

.socials-box ul {
  padding: 1rem;
}

.projects-section {
  position: absolute;
  right: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.projects-section-open {
  width: 100vw;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.welcome .background-text {
  margin-top: -5rem;
  margin-bottom: -10rem;
}

.background-text {
  font-size: 12rem;
  display: flex;
  justify-content: flex-end;
  z-index: -2;
  transform: translateY(6rem);
  color: #25e4d15d;
  pointer-events: none;
}

.projects-grid {
  border-top: solid #fdfffc80 0.05rem;
  border-bottom: solid #fdfffc80 0.05rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  justify-items: center;
  margin: 0 1rem 5rem 1rem;
  z-index: 2;
}

.project-box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 17vmax;
  width: 100%;
  align-items: center;
  border: #25E4D1 solid 0.01rem;
  z-index: 2;
  transition: all ease-in-out 1s 10ms;
}

.project-box img {
  width: 100%;
  height: stretch;
}

.project-box a {
  width: 100%;
  height: 100%;
}

.project-flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: transform 0.8s;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-box:hover .project-flip-inner {
  transform: rotateY(180deg);
  box-shadow: #FDFFFC 0rem 0rem 0.5rem;
  -webkit-transform: rotateY(180deg);
}

.project-front, .project-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.project-front {
  background-color: #011627;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.project-back {
  font-size: 1rem;
  background-color: #011627;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  justify-content: center;
  align-items: center;
  color: white;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.comment-p {
  font-size: 0.7rem;
}

.skills {
  position: absolute;
  right: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.skills-open {
  height: fit-content;
  transition: opacity 0.5s ease-in-out;
}

.skillset-wrap {
  margin-left: 5rem;
}

.flex-skills {
  margin-top: 3rem;
  padding-top: 2rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 50vw;
}

.skill-show {
  padding: 0.5rem 0rem 2rem 0rem;
  border-top: solid 0.2rem #25E4D1;
  width: 80vw;
}

.html {
  width: 85%;
}

.css {
  width: 90%;
}

.js {
  width: 60%;
}

.react {
  width: 70%
}

/*Adjusting media query to size out font & margins on smaller devices */

@media screen and (max-width: 800px) {
    * {
      overflow-x: visible;
      width: 100%;
      height: auto;
      margin: 0;
    }
    .button-contact {
      margin-top: 4rem;
      margin-left: 3rem;
      width: 20rem;
      height: 4rem;
      font-size: 0.8rem;
    }
    .button-contact2 {
      margin-top: 4rem;
      margin-left: 3rem;
      width: 20rem;
      height: 4rem;
      font-size: 0.8rem;
    }
    .hi-wrapper {
      margin-left: 0;
    }
    .welcome h1 {
      margin-top: 6rem;
      font-size: 2rem;
      margin-left: 1.5rem;
      width: 90vw;
    }
    .welcome h2 {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      margin-top: 6rem;
      width: 90vw;
    }
    .skillset {
      margin-left: 9rem;
      margin-top: 4rem;
    }
    .work-intro h1 {
      font-size: 1.3rem;
      margin-left: 1rem;
    }
    .work-description {
      width: 80vw;
      margin-left: 3rem;
      font-size: 80%;
    }
    .work-description li {
      font-size: inherit;
    }
    .nav-links-open {
      margin: 0;
      width: 100vw;
      transform: scale(.9);
    }
    .menu-intro {
      color: #FDFFFC;
      background-color: #011627;
      font-size: 2rem;
      margin: 0;
      width: 100vw;
    }
    .menu-wrapper ul{
      width: 100vw;
      display: grid;
      justify-items: end;
    }
    .menu-wrapper li {
      width: 88vw;
    }
    .scroll-sign {
      margin-top: -8rem;
      margin-left: -4rem;
      color: #fdfffc9d;
      text-shadow: none;
    }
    .socials-box {
      margin-top: 1rem;
      width: 19rem;
      margin-left: 3rem;
      margin-bottom: 3rem;
      font-size: 80%;
    }
    .background-text {
      font-size: 8rem;
    }
    .projects-grid {
      border: none;
      width: 90vw;
      margin: 0 5vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(80vw);
    }
    .project-box {
      scale: 0.9;
      height: 57vw;
      width: 92vw;
      border: none;
    }
    .project-box img {
      height: auto;
      width: 98%;
      justify-self: start;
    }
    .project-box:hover .project-flip-inner {
      box-shadow: none;
    }
    .project-box:hover {
      transform: none;
      cursor: pointer;
      box-shadow: none;
    } 
    .project-box:active .project-flip-inner {
      transform: none;
      box-shadow: none;
    }
    .flex-skills {
      margin: 0;
      width: 80vw;
    }
    .contact-info-wrapper {
      position: fixed;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%; 
    }
    .contact-info ul{
      transform: scale(0.9);
      /* margin: 1rem; */
    }
    .contact-info li {
      width: 85vw;
    }
    .contact-info .close-contact {
      margin: 0 0 0 -20%;
    }
}

@media screen and (max-width: 375px) {
    * {
      overflow-x: visible;
      width: 100%;
      height: auto;
      margin: 0 0 0 1.2%;
    }
    .nav-links-open {
      display: flex;
      margin: 0 10vw;
    }
    .menu-wrapper {
      margin: 0;
      transform: scale(1.2);
      width: 100vw;
    }
    .menu-wrapper ul {
      width: 80%;
    }
    .menu-wrapper li {
      width: 75%;
    }
    .projects-grid {
      margin-left: 8vw;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1000px){
    .contact-info-wrapper :nth-child(n){
      transform: scale(0.8);
    }
    .menu-wrapper {
      transform: scale(0.8);
    }
    .contact-info .close-contact {
      transform: scale(1.5);
      align-self: center;
    }
    .contact-info li {
      margin: 0;
    }
}